@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shipset - Info desk</h1>
    <p class="lead">Informacije o plovilima, aranzmanima i poslovanju.</p>

    <p><a href="http://jadrolinija.com" class="btn btn-primary btn-lg">Posjetite sajt</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Plovila</h2>
        <p>
            Informacije o plovilima agencije. Dodatne informacije o kapacitetima, cijenama i ostalim informacijama.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Budget Traveler</h2>
        <p>Pogledajte iskustva iskusnih moreplovaca, njihove prijedloge i omiljene destinacije.</p>
        <p><a class="btn btn-default" href="https://budgettraveller.org/experience-of-cruising-for-the-first-time/">Iskustva &raquo;</a></p>
    </div>

</div>